{% extends  'base.html' %}

  {% block title %}
  {{ group }}
  {% endblock title %} 

{% block content %}

      <div class="container">     
        <h1>{{ group }}</h1> 
        <article>
          {% for post in page_obj %}
          <ul>
            <li>
              <a href="{% url "posts:profile" post.author %}"> Автор: {{ post.author.get_full_name }} </a>
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y"}}
            </li>
          </ul>      
          <p>{{ post.text }}</p>
          </p>
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}  
        </article>
        {% include 'includes/paginator.html' %}
        <!-- под последним постом нет линии -->
      </div>  
  {% endblock content %}
  